<div class="modal-dialog payment-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5 item-title">Hey, read this!</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M5 3H3V21H21V3H5ZM19 5V19H5V5H19ZM11 9H9V7H7V9H9V11H11V13H9V15H7V17H9V15H11V13H13V15H15V17H17V15H15V13H13V11H15V9H17V7H15V9H13V11H11V9Z" fill="#647488"/>
        </svg>
      </button>
    </div>
    <div class="modal-body font-kufam">
      <form id="payment-form">
        <label>
          Email
          <input type="text" id="email" placeholder="you@rebel.com"/></label>
        <div type="text" id="email-errors"></div>
        <h4>Payment</h4>
        <div id="payment-element"></div>
        {% if page.fileSlug == "squadron" %}
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="squadronTC"
          onchange="document.getElementById('submit').disabled = !this.checked;"
        >
        <label class="form-check-label" for="squadronTC">
          <a href="/pdf/squadron-terms-and-conditions.pdf" target="_blank">Squadron Purchase Terms & Conditions</a>
        </label>
        {% endif %}
        <button id="submit" type="submit" class="btn btn-primary" disabled>
          <div class="spinner hidden" id="spinner"></div>
          <span>Pay Now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
      </form>
    </div>
  </div>
</div>
